* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0C4E9B;
}

.header {
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F7DE82;
}

.logo {
    height: 80%;
}

.list-nav {
    list-style: none;
    display: flex;
    gap: 40px;
}

.a-nav {
    font-weight: 900;
}

.section-inicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 70vh;
    background-color: #F7DE82;
}

.img-pikachu-hero {
    width: 25%;
}

.container-inicio {
    width: 25%;
}

.container-inicio img {
    width: 70%;
}

.container-inicio p {
    font-size: 1.5em;
    font-weight: 300;
}

.container-inicio button {
    width: 70%;
    height: 50px;
    background-color: #0C4E9B;
    color: white;
    font-size: 1.4em;
    font-weight: 700;
    border-radius: 12px;
    border-style: none;
    margin-top: 40px;
}

.icono-carrito {
    color: #0C4E9B;
    font-size: 1.4em
}