.cuadrado {
    width: 200px;
    height: 200px;
    background-color: red;
    padding: 20px;
    border: 10px solid green;
    box-sizing: border-box;
}

.cuadrado2 {
    width: 200px;
    height: 200px;
    background-color: blue;
}

#cuadrado3{
    width: 200px;
    height: 200px;
    background-color: brown;
}

.cuadrado3 {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    background-color: violet;
}

div {
    width: 200px;
    height: 200px;
    background-color: aqua;
}

